.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

/* --- Styles pour les boutons de statistiques --- */
.btn-stat {
    display: inline-block;
    background-color: #f39c12; /* Orange */
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-stat {
    background-color: ;
}

.btn-stat:hover {
    background-color: #e67e22; /* Orange plus foncé */
    transform: scale(1.05);
}

/* Pour garantir une bonne apparence si un lien "visité" */
.btn-stat:visited {
    color: white;
}
